<footer class="main-footer">
  <div class="footer-box">

    <div class="footer-row">

      <div class="footer-col footer-wide">
        <h3>Berg Spices</h3>
        <p>
          Murukkady PO<br>
          Murukkady, Idukki<br>
          Kerala – 685535
        </p>
        <p>📞 +91 90742 68510</p>
        <p>✉️ bergspices@gmail.com</p>
      </div>

      <div class="footer-col">
        <h3>Quick Links</h3>
        <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
        <a href="{{ url_for('terms_conditions') }}">Terms & Conditions</a>
      </div>

      <div class="footer-col">
        <h3>Connect</h3>
        <div class="footer-social">
          <a href="https://www.instagram.com/bergspices" target="_blank" class="ig">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="https://www.facebook.com/profile.php?id=61579951358354" target="_blank" class="fb">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </div>
      </div>

      <div class="footer-col">
        <h3>Certified</h3>
        <img src="/static/images/fssai-logo.png" class="fssai">
        <div>FSSAI Certified<br><small>Lic No: 21325178000466</small></div>
      </div>

    </div>

    <div class="footer-copy">
      © bergspices.com | All rights reserved |
      Web design & SEO by JZ Creations | Version 1.0.1
    </div>

  </div>
</footer>
